{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    

    <div class="container py-5">
        

        <div class="row row-cols-1 row-cols-sm-2">
            {% if photo %}
            
                <div class="col">
                    <div class="card h-100 shadow-sm border-0">
                        <img
                            src="/images/photos/{{ photo.imageName }}"
                            class="card-img-top"
                            alt="{{ photo.imageName }}"
                            style="max-height: 1150px; object-fit: cover;"
                        >
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ photo.title }}</h5>

                            <a class="nav-item nav-link link-body-emphasis active"
                            href="#"><button class="btn btn-{{photo.category.color}}">
                            </button>{{photo.category.name}}</a>
                            <p class="card-text text-body-secondary small">
                                {{ photo.description}}
                            </p>

                            <a href="{{ path('app_photo_index') }}"><button class="btn btn-secondary">Retour a la Gallerie</button></a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning mb-0">
                        Aucune image trouvé.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    

    

    
{% endblock %}
